// folling the same pattern used by bootstrap
// {property}{sides}-{breakpoint}-{size}
$calculator-padding-sizes: (
  '6': (
    'pt': 0.6,
  ),
  '7-5': (
    'pb': 0.75,
  ),
  '10': (
    'pb': 1,
  ),
  '14': (
    'pt': 1.4,
  )
);

@each $breakpoint, $breakpoingvalue in $grid-breakpoints {
  @include media-breakpoint-up($breakpoint) {
    @each $size, $sides in $calculator-padding-sizes {
      @each $side, $value in $sides {
        @if $breakpoint == 'xs' {
          .calc-#{$side}-#{$size} {
            @if $side =='p' {
              padding: $value + rem;
            } @else if $side == 'pt' {
              padding-top: $value + rem;
            } @else if $side == 'pr' {
              padding-right: $value + rem;
            } @else if $side == 'pb' {
              padding-bottom: $value + rem;
            } @else if $side == 'pl' {
              padding-left: $value + rem;
            }
          }
        } @else {
          .calc-#{$side}-#{$breakpoint}-#{$size} {
            @if $side =='p' {
              padding: $value + rem;
            } @else if $side == 'pt' {
              padding-top: $value + rem;
            } @else if $side == 'pr' {
              padding-right: $value + rem;
            } @else if $side == 'pb' {
              padding-bottom: $value + rem;
            } @else if $side == 'pl' {
              padding-left: $value + rem;
            }
          }
        }
      }
    }
  }
}

$calculator-margin-sizes: (
  '3': (
    'mb': 0.3,
  ),
  '7-5': (
    'mb': 0.75,
  ),
);

@each $breakpoint, $breakpoingvalue in $grid-breakpoints {
  @include media-breakpoint-up($breakpoint) {
    @each $size, $sides in $calculator-margin-sizes {
      @each $side, $value in $sides {
        @if $breakpoint == 'xs' {
          .calc-#{$side}-#{$size} {
            @if $side =='m' {
              margin: $value + rem;
            } @else if $side == 'mt' {
              margin-top: $value + rem;
            } @else if $side == 'mr' {
              margin-right: $value + rem;
            } @else if $side == 'mb' {
              margin-bottom: $value + rem;
            } @else if $side == 'ml' {
              margin-left: $value + rem;
            }
          }
        } @else {
          .calc-#{$side}-#{$breakpoint}-#{$size} {
            @if $side =='m' {
              margin: $value + rem;
            } @else if $side == 'mt' {
              margin-top: $value + rem;
            } @else if $side == 'mr' {
              margin-right: $value + rem;
            } @else if $side == 'mb' {
              margin-bottom: $value + rem;
            } @else if $side == 'ml' {
              margin-left: $value + rem;
            }
          }
        }
      }
    }
  }
}