// @use "../node_modules/bootstrap/scss/bootstrap";
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@use "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: hsl(61, 70%, 52%);

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@use "../node_modules/bootstrap/scss/variables";
@use "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@use "../node_modules/bootstrap/scss/maps";
@use "../node_modules/bootstrap/scss/mixins";
@use "../node_modules/bootstrap/scss/root";
@use "../node_modules/bootstrap/scss/utilities";
@use "../node_modules/bootstrap/scss/reboot";

// 6. Optionally include any other parts as needed
@use "../node_modules/bootstrap/scss/type";
@use "../node_modules/bootstrap/scss/images";
@use "../node_modules/bootstrap/scss/containers";
@use "../node_modules/bootstrap/scss/grid";
// @use "../node_modules/bootstrap/scss/tables";
@use "../node_modules/bootstrap/scss/forms";
@use "../node_modules/bootstrap/scss/buttons";
@use "../node_modules/bootstrap/scss/transitions";
@use "../node_modules/bootstrap/scss/bootstrap-utilities.scss";
// @use "../node_modules/bootstrap/scss/dropdown";
// @use "../node_modules/bootstrap/scss/button-group";
// @use "../node_modules/bootstrap/scss/nav";
// @use "../node_modules/bootstrap/scss/navbar"; // Requires nav
// @use "../node_modules/bootstrap/scss/card";
// @use "../node_modules/bootstrap/scss/breadcrumb";
// @use "../node_modules/bootstrap/scss/accordion";
// @use "../node_modules/bootstrap/scss/pagination";
// @use "../node_modules/bootstrap/scss/badge";
// @use "../node_modules/bootstrap/scss/alert";
// @use "../node_modules/bootstrap/scss/progress";
// @use "../node_modules/bootstrap/scss/list-group";
// @use "../node_modules/bootstrap/scss/close";
// @use "../node_modules/bootstrap/scss/toasts";
// @use "../node_modules/bootstrap/scss/modal"; // Requires transitions
// @use "../node_modules/bootstrap/scss/tooltip";
// @use "../node_modules/bootstrap/scss/popover";
// @use "../node_modules/bootstrap/scss/carousel";
// @use "../node_modules/bootstrap/scss/spinners";
// @use "../node_modules/bootstrap/scss/offcanvas"; // Requires transitions
// @use "../node_modules/bootstrap/scss/placeholders";

// Helpers
// @use "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
// @use "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
@use "calculator-colors";
@use "calculator-card";
@use "calculator-card-buttons";
@use "calculator-card-form";
@use "calculator-card-noresults";
@use "calculator-typography";
@use "calculator-card-spacing";
@use "calculator-sizing";

//custom.scss
@font-face {
  font-family: plus-jakartasans-medium;
  src: url("../assets/fonts/static/PlusJakartaSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: plus-jakartasans-bold;
  src: url("../assets/fonts/static/PlusJakartaSans-Bold.ttf") format("truetype");
}

body {
  font-family: 'plus-jakartasans-medium';
  font-size: 16px;
}

// Custom styles
.border-t-3-lime {
  border-top: 3px solid var(--primary-lime);
}
.border-b-1-slate-700 {
  border-bottom: 1px solid var(--neutral-slate-700);
}